{
    "openapi": "3.1.0",
    "info": {
      "title": "OpenAPI Plant Store",
      "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
      "license": {
        "name": "Apache 2.0"
      },
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api.nextprotocol.fr"
      }
    ],
    "components": {
        "securitySchemes": {
          "bearerAuth": {
            "type": "http",
            "scheme": "bearer",
            "bearerFormat": "JWT"
          }
        }
      },
    "security": [
      {
        "bearerAuth": []
      }
    ],
    "paths": {
        "/texttoimage/sync": {
            "post": {
                "description": "Generate an image from a text prompt",
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["uuid_client", "session_id", "workflow", "ai_model", "prompt", "steps", "image_ratio"],
                                "properties": {
                                    "uuid_client": {
                                        "type": "string",
                                        "description": "uuid of the supabase id client"
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "session of the current generation picture"
                                    },
                                    "workflow": {
                                        "type": "string",
                                        "enum": ["Only Generate", "Generate and Upscale 2K", "Generate and Upscale 4K"],
                                        "description": "workflow of the current generation picture"
                                    },
                                    "ai_model": {
                                        "type": "string",
                                        "enum": ["Flux 1.0 Dev", "Flux 1.0 Krea", "Flux 1.0 Schnell"],
                                        "description": "ai model of the current generation picture"
                                    },
                                    "prompt": {
                                        "type": "string",
                                        "description": "prompt of the current generation picture"
                                    },
                                    "steps": {
                                        "type": "integer",
                                        "description": "steps of the current generation picture"
                                    },
                                    "image_ratio": {
                                        "type": "string",
                                        "enum": ["1:1", "4:3", "3:2", "16:9", "21:9", "4:5", "2:3", "9:16"],
                                        "description": "batch size of the current generation picture"
                                    },
                                    "prompt_style": {
                                        "type": "array",
                                        "description": "prompt style of the current generation picture",
                                        "default": [],
                                        "example": ["PHOTOGRAPHIE — Long Exposure", "PHOTOGRAPHIE — Pro Studio Portrait (Softbox Key)", "ARCHITECTURE & INTERIOR — Sunset Glass Facade"],
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "loras": {
                                        "type": "array",
                                        "description": "Lora to use for image generation.",
                                        "default": [],
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "lora": {
                                              "type": "string",
                                              "description": "Name of the lora",
                                              "example": "Minimal_Portrait_Photography_V1.0"
                                            },
                                            "strength":{
                                              "type": "number",
                                              "description": "Strength of the lora",
                                              "minimum": 0,
                                              "maximum": 2
                                            }
                                          }
                                        }
                                      },
                                    "seed": {
                                        "type": "integer",
                                        "default": 0,
                                        "description": "seed of the current generation picture"
                                    },
                                    "batch_size": {
                                        "type": "integer",
                                        "default": 1,
                                        "description": "number of images to generate"
                                    },
                                    "optimize_output_picture": {
                                        "type": "boolean",
                                        "default": true,
                                        "description": "if you want to optimize the output picture, use **true** for a webp image, **false** for a png image."
                                    },
                                    "expire_in": {
                                        "type": "integer",
                                        "default": 604800,
                                        "description": "number of seconds to expire the image"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Image generated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "details": {
                                            "type": "string",
                                            "example": "Workflow for {user_email} is running...",
                                            "description": "Response if the workflow is running"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/texttoimage/async": {
            "post": {
                "description": "Generate an image from a text prompt",
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["uuid_client", "session_id", "workflow", "ai_model", "prompt", "steps", "image_ratio"],
                                "properties": {
                                    "uuid_client": {
                                        "type": "string",
                                        "description": "uuid of the supabase id client"
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "session of the current generation picture"
                                    },
                                    "workflow": {
                                        "type": "string",
                                        "enum": ["Only Generate", "Generate and Upscale 2K", "Generate and Upscale 4K"],
                                        "description": "workflow of the current generation picture"
                                    },
                                    "ai_model": {
                                        "type": "string",
                                        "enum": ["Flux 1.0 Dev", "Flux 1.0 Krea", "Flux 1.0 Schnell"],
                                        "description": "ai model of the current generation picture"
                                    },
                                    "prompt": {
                                        "type": "string",
                                        "description": "prompt of the current generation picture"
                                    },
                                    "steps": {
                                        "type": "integer",
                                        "description": "steps of the current generation picture"
                                    },
                                    "image_ratio": {
                                        "type": "string",
                                        "enum": ["1:1", "4:3", "3:2", "16:9", "21:9", "4:5", "2:3", "9:16"],
                                        "description": "batch size of the current generation picture"
                                    },
                                    "prompt_style": {
                                        "type": "array",
                                        "description": "prompt style of the current generation picture",
                                        "default": [],
                                        "example": ["PHOTOGRAPHIE — Long Exposure", "PHOTOGRAPHIE — Pro Studio Portrait (Softbox Key)", "ARCHITECTURE & INTERIOR — Sunset Glass Facade"],
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "loras": {
                                        "type": "array",
                                        "description": "Lora to use for image generation.",
                                        "default": [],
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "lora": {
                                              "type": "string",
                                              "description": "Name of the lora",
                                              "example": "Minimal_Portrait_Photography_V1.0"
                                            },
                                            "strength":{
                                              "type": "number",
                                              "description": "Strength of the lora",
                                              "minimum": 0,
                                              "maximum": 2
                                            }
                                          }
                                        }
                                      },
                                    "seed": {
                                        "type": "integer",
                                        "default": 0,
                                        "description": "seed of the current generation picture"
                                    },
                                    "batch_size": {
                                        "type": "integer",
                                        "default": 1,
                                        "description": "number of images to generate"
                                    },
                                    "optimize_output_picture": {
                                        "type": "boolean",
                                        "default": true,
                                        "description": "if you want to optimize the output picture, use **true** for a webp image, **false** for a png image."
                                    },
                                    "expire_in": {
                                        "type": "integer",
                                        "default": 604800,
                                        "description": "number of seconds to expire the image"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Image generated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "gpu_use": {
                                        "type": "string",
                                        "description": "GPU utilisé pour générer l'image",
                                        "example": "RTX 5090"
                                        },
                                        "history": {
                                        "type": "integer",
                                        "description": "Numéro d'historique",
                                        "example": 0
                                        },
                                        "image_ratio": {
                                        "type": "string", 
                                        "description": "Ratio de l'image générée",
                                        "example": "1:1"
                                        },
                                        "indexe": {
                                        "type": "integer",
                                        "description": "Index de l'opération",
                                        "example": 50
                                        },
                                        "loras": {
                                        "type": "object",
                                        "properties": {
                                            "loras": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            },
                                            "description": "Liste des LoRAs utilisés"
                                            }
                                        }
                                        },
                                        "model": {
                                        "type": "string",
                                        "description": "Modèle AI utilisé pour la génération",
                                        "example": "Flux 1.0 Dev"
                                        },
                                        "number_picture": {
                                        "type": "integer", 
                                        "description": "Nombre d'images générées",
                                        "example": 4
                                        },
                                        "picture": {
                                        "type": "object",
                                        "properties": {
                                            "signed_url_pictures": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "URLs signées des images générées"
                                            }
                                        }
                                        },
                                        "price": {
                                        "type": "number",
                                        "description": "Prix de la génération en dollars",
                                        "example": 0.120356
                                        },
                                        "prompt": {
                                        "type": "string",
                                        "description": "Prompt utilisé pour la génération",
                                        "example": "generate a blue skye"
                                        },
                                        "request_finish_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Timestamp de fin de la requête",
                                        "example": "2025-09-27T04:27:29.411391"
                                        },
                                        "request_made_at": {
                                        "type": "string", 
                                        "format": "date-time",
                                        "description": "Timestamp de début de la requête",
                                        "example": "2025-09-27T04:26:13.488932"
                                        },
                                        "resolution": {
                                        "type": "string",
                                        "description": "Résolution de l'image",
                                        "example": "1:1"
                                        },
                                        "session_id": {
                                        "type": "string",
                                        "description": "Identifiant unique de la session",
                                        "example": "c8d2223b-6f45-4a51-b452-7aee9cf4d608"
                                        },
                                        "status": {
                                        "type": "string",
                                        "description": "Statut de la génération",
                                        "enum": ["COMPLETED", "PENDING", "FAILED"],
                                        "example": "COMPLETED"
                                        },
                                        "steps": {
                                        "type": "integer",
                                        "description": "Nombre d'étapes de génération",
                                        "example": 20
                                        },
                                        "style": {
                                        "type": "object", 
                                        "properties": {
                                            "style": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "Styles appliqués à l'image"
                                            }
                                        }
                                        },
                                        "user_id": {
                                        "type": "string",
                                        "description": "Identifiant unique de l'utilisateur",
                                        "example": "03202cd6-349d-461a-87d5-68cce978f279"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/upscale/sync": {
            "post": {
                "description": "Upscale an image",
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "uuid_client": {
                                        "type": "string",
                                        "description": "uuid of the supabase id client"
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "session of the current upscale picture"
                                    },
                                    "upscale_model": {
                                        "type": "string",
                                        "enum": ["Low", "High"],
                                        "description": "Choice of upscale image quality:\n **Low**: 10 steps for upscale, 2-3s for upscale\n**High**: 50 steps for upscale, 10-15s for upscale"
                                    },
                                    "all_images": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "description": "unique id for the image"
                                                },
                                                "base64_image": {
                                                    "type": "string",
                                                    "description": "Base64 encoded image"
                                                },
                                                "final_width": {
                                                    "type": "integer",
                                                    "description": "Final width of the image"
                                                },
                                                "final_height": {
                                                    "type": "integer",
                                                    "description": "Final height of the image"
                                                }
                                            }
                                        },
                                        "default": false,
                                        "description": "List of images to upscale"
                                    },
                                    "optimize_picture": {
                                        "type": "boolean",
                                        "description": "If you want to optimize the output picture, use **true** for a webp image, **false** for a png image.",
                                        "default": false
                                    },
                                    "expire_in": {
                                        "type": "integer",
                                        "description": "Number of seconds to expire the image",
                                        "default": 604800
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Image upscale successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "details": {
                                            "type": "string",
                                            "description": "Response if the workflow is running",
                                            "example": "Workflow UPSCALE for {user_email} is running..."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/upscale/async": {
            "post": {
                "description": "Upscale an image",
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "uuid_client": {
                                        "type": "string",
                                        "description": "uuid of the supabase id client"
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "session of the current upscale picture"
                                    },
                                    "upscale_model": {
                                        "type": "string",
                                        "enum": ["Low", "High"],
                                        "description": "Choice of upscale image quality:\n **Low**: 10 steps for upscale, 2-3s for upscale\n**High**: 50 steps for upscale, 10-15s for upscale"
                                    },
                                    "all_images": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "description": "unique id for the image"
                                                },
                                                "base64_image": {
                                                    "type": "string",
                                                    "description": "Base64 encoded image"
                                                },
                                                "final_width": {
                                                    "type": "integer",
                                                    "description": "Final width of the image"
                                                },
                                                "final_height": {
                                                    "type": "integer",
                                                    "description": "Final height of the image"
                                                }
                                            }
                                        },
                                        "default": false,
                                        "description": "List of images to upscale"
                                    },
                                    "optimize_picture": {
                                        "type": "boolean",
                                        "description": "If you want to optimize the output picture, use **true** for a webp image, **false** for a png image.",
                                        "default": false
                                    },
                                    "expire_in": {
                                        "type": "integer",
                                        "description": "Number of seconds to expire the image",
                                        "default": 604800
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Image upscale successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "indexe": {
                                            "type": "integer",
                                            "description": "Index of the operation"
                                        },
                                        "history": {
                                            "type": "integer",
                                            "description": "Number of the history"
                                        },
                                        "user_id": {
                                            "type": "string",
                                            "description": "User ID"
                                        },
                                        "session_id": {
                                            "type": "string",
                                            "description": "Session ID"
                                        },
                                        "status": {
                                            "type": "string",
                                            "description": "Status of the operation",
                                            "example": "COMPLETED"
                                        },
                                        "upscale_model": {
                                            "type": "string",
                                            "enum": ["Low", "High"],
                                            "description": "Model of the upscale"
                                        },
                                        "input_picture":{
                                            "type": "string",
                                            "description": "Input picture",
                                            "example": "https://s3.nextprotocol.fr/upscale/input/1234567890.png"
                                        },
                                        "output_picture":{
                                            "type": "string",
                                            "description": "Output picture",
                                            "example": "https://s3.nextprotocol.fr/api/v1/upscale/output/1234567890.png"
                                        },
                                        "output_width":{
                                            "type": "integer",
                                            "description": "Output width"
                                        },
                                        "output_height":{
                                            "type": "integer",
                                            "description": "Output height"
                                        },
                                        "gpu_use": {
                                            "type": "string",
                                            "description": "GPU utilisé pour générer l'image",
                                            "example": "RTX 5090"
                                        },
                                        "price": {
                                            "type": "number",
                                            "description": "Price of the job in dollars",
                                            "example": 0.120356
                                        },
                                        "request_finish_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp of the request finish",
                                            "example": "2025-09-27T04:27:29.411391"
                                        },
                                        "request_made_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp of the request made",
                                            "example": "2025-09-27T04:26:13.488932"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/training/sync": {
            "post": {
                "description": "Train a model",
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["uuid_client", "session_id", "id", "list_signed_urls", "gender", "epoch"],
                                "properties": {
                                    "uuid_client": {
                                        "type": "string",
                                        "description": "uuid of the supabase id client"
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "session of the current training"
                                    },
                                    "id": {
                                        "type": "string",
                                        "description": "unique id for the training"
                                    },
                                    "list_signed_urls": {
                                        "type": "array",
                                        "description": "list of signed urls for the training",
                                        "items": {
                                            "type": "string",
                                            "description": "signed url for the training"
                                        },
                                        "example": ["https://s3.nextprotocol.fr/training/input/1234567890.png", "https://s3.nextprotocol.fr/training/input/1234567891.png", "..."]
                                    },
                                    "gender": {
                                        "type": "string",
                                        "enum": ["man", "woman"],
                                        "description": "gender of the person in the training"
                                    },
                                    "trigger_word": {
                                        "type": "string",
                                        "description": "trigger word for the training"
                                    },
                                    "epoch": {
                                        "type": "integer",
                                        "description": "number of training steps per picture. 10 pictures and 200 epochs will be 2000 steps"
                                    },
                                    "epoch_save_n": {
                                        "type": "integer",
                                        "description": "number of epochs to save the model"
                                    },
                                    "train_batch_size": {
                                        "type": "integer",
                                        "description": "number of pictures to train in a single request"
                                    },
                                    "expire_in": {
                                        "type": "integer",
                                        "description": "number of seconds to expire the model",
                                        "default": 604800
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Model trained successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "details": {
                                            "type": "string",
                                            "description": "Response if the workflow is running",
                                            "example": "Workflow TRAINING for {user_email} is running..."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/training/async":{
            "post": {
                "description": "Train a model",
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["uuid_client", "session_id", "id", "list_signed_urls", "gender", "epoch"],
                                "properties": {
                                    "uuid_client": {
                                        "type": "string",
                                        "description": "uuid of the supabase id client"
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "session of the current training"
                                    },
                                    "id": {
                                        "type": "string",
                                        "description": "unique id for the training"
                                    },
                                    "list_signed_urls": {
                                        "type": "array",
                                        "description": "list of signed urls for the training",
                                        "items": {
                                            "type": "string",
                                            "description": "signed url for the training"
                                        },
                                        "example": ["https://s3.nextprotocol.fr/training/input/1234567890.png", "https://s3.nextprotocol.fr/training/input/1234567891.png", "..."]
                                    },
                                    "gender": {
                                        "type": "string",
                                        "enum": ["man", "woman"],
                                        "description": "gender of the person in the training"
                                    },
                                    "trigger_word": {
                                        "type": "string",
                                        "description": "trigger word for the training"
                                    },
                                    "epoch": {
                                        "type": "integer",
                                        "description": "number of training steps per picture. 10 pictures and 200 epochs will be 2000 steps"
                                    },
                                    "epoch_save_n": {
                                        "type": "integer",
                                        "description": "number of epochs to save the model"
                                    },
                                    "train_batch_size": {
                                        "type": "integer",
                                        "description": "number of pictures to train in a single request"
                                    },
                                    "expire_in": {
                                        "type": "integer",
                                        "description": "number of seconds to expire the model",
                                        "default": 604800
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Model trained successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "epoch": {
                                            "type": "integer",
                                            "description": "Nombre d'époques d'entraînement utilisées",
                                            "example": 1
                                        },
                                        "epoch_save_n": {
                                            "type": "integer",
                                            "description": "Nombre d'époques entre chaque sauvegarde",
                                            "example": 1
                                        },
                                        "gender": {
                                            "type": "string",
                                            "enum": ["man", "woman"],
                                            "description": "Genre de la personne entraînée",
                                            "example": "man"
                                        },
                                        "gpu_use": {
                                            "type": "string",
                                            "description": "GPU utilisé pour l'entraînement",
                                            "example": "A100"
                                        },
                                        "history": {
                                            "type": "integer",
                                            "description": "Numéro d'historique de l'entraînement",
                                            "example": 3
                                        },
                                        "id_lora": {
                                            "type": "string",
                                            "description": "Identifiant du modèle LoRA entraîné",
                                            "example": "training"
                                        },
                                        "indexe": {
                                            "type": "integer",
                                            "description": "Index de l'opération d'entraînement",
                                            "example": 4
                                        },
                                        "output_model": {
                                            "type": "string",
                                            "description": "URL signée du modèle entraîné (.safetensors)",
                                            "example": "https://s3.gra.io.cloud.ovh.net/s3-nextprotocol/training/training.safetensors?X-Amz-Algorithm=..."
                                        },
                                        "price": {
                                            "type": "number",
                                            "description": "Prix de l'entraînement en dollars",
                                            "example": 0.60800
                                        },
                                        "request_finish_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp de fin de l'entraînement",
                                            "example": "2025-09-29T08:18:37.652795"
                                        },
                                        "request_made_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "nullable": true,
                                            "description": "Timestamp de début de l'entraînement",
                                            "example": null
                                        },
                                        "session_id": {
                                            "type": "string",
                                            "description": "Identifiant unique de la session d'entraînement",
                                            "example": "2c8ea1bd-c02f-4dbb-8b94-41e9dca02b8c"
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": ["COMPLETED", "PENDING", "FAILED"],
                                            "description": "Statut de l'entraînement",
                                            "example": "COMPLETED"
                                        },
                                        "train_batch_size": {
                                            "type": "integer",
                                            "description": "Taille du batch d'entraînement",
                                            "example": 1
                                        },
                                        "training_picture": {
                                            "type": "string",
                                            "description": "URL signée de l'archive ZIP contenant les images d'entraînement",
                                            "example": "https://s3.gra.io.cloud.ovh.net/s3-nextprotocol/training/training_2c8ea1bd-c02f-4dbb-8b94-41e9dca02b8c_training.zip?X-Amz-Algorithm=..."
                                        },
                                        "trigger_word": {
                                            "type": "string",
                                            "description": "Mot-clé déclencheur pour utiliser le modèle",
                                            "example": "ohwx"
                                        },
                                        "user_id": {
                                            "type": "string",
                                            "description": "Identifiant unique de l'utilisateur",
                                            "example": "03202cd6-349d-461a-87d5-68cce978f279"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/": {
            "get": {
                "description": "Ping the server",
                "responses": {
                    "200": {
                        "description": "Server is running",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Message from the server",
                                            "example": "Demon slayer is the best anime of all time"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}