{
    "openapi": "3.1.0",
    "info": {
      "title": "OpenAPI Plant Store",
      "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
      "license": {
        "name": "Apache 2.0"
      },
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api.nextprotocol.fr"
      }
    ],
    "components": {
        "securitySchemes": {
          "bearerAuth": {
            "type": "http",
            "scheme": "bearer",
            "bearerFormat": "JWT"
          }
        }
      },
    "security": [
      {
        "bearerAuth": []
      }
    ],
    "paths": {
        "/": {
            "get": {
                "description": "Ping the server",
                "responses": {
                    "200": {
                        "description": "Server is running",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Message from the server",
                                            "example": "Demon slayer is the best anime of all time"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/comfyapi/texttoimage": {
            "post": {
                "description": "Generate an image from a text prompt",
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "uuid_client": {
                                        "type": "string",
                                        "description": "uuid of the supabase id client"
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "session of the current generation picture"
                                    },
                                    "model_id": {
                                        "type": "string",
                                        "description": "model id of the model use. For example is **FluxDev** for Flux 1.0 Dev model or **FluxKrea** for Flux 1.0 Krea model or **FluxSchnell** for Flux 1.0 Schnell model"
                                    },
                                    "loras": {
                                        "type": "array",
                                        "description": "loras to use for the generation",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "lora": {
                                                    "type": "string",
                                                    "description": "name of the lora",
                                                    "example": "Minimal_Portrait_Photography_V1.0"
                                                },
                                                "strength": {
                                                    "type": "number",
                                                    "description": "strength of the lora",
                                                    "minimum": 0,
                                                    "maximum": 2
                                                }
                                            }
                                        }
                                    },
                                    "settings": {
                                        "type": "object",
                                        "description": "settings of the generation",
                                        "properties": {
                                            "prompt_style": {
                                                "type": "array",
                                                "description": "**indexe** of the prompt style, you can the **indexe** on supabase in the table **prompt_style**",
                                                "default": [],
                                                "example": [32, 6],
                                                "items": {
                                                    "type": "integer"
                                                }
                                            },
                                            "prompt": {
                                                "type": "string",
                                                "description": "prompt of the generation",
                                                "default": "generate a beautiful image"
                                            },
                                            "steps": {
                                                "type": "integer",
                                                "description": "steps of the generation",
                                                "minimum": 1,
                                                "maximum": 100,
                                                "default": 20
                                            },
                                            "image_ratio": {
                                                "type": "string",
                                                "description": "image ratio of the generation",
                                                "enum": ["1:1", "4:3", "3:2", "16:9", "21:9", "4:5", "2:3", "9:16"],
                                                "default": "1:1"
                                            },
                                            "batch_size": {
                                                "type": "integer",
                                                "description": "number of images to generate",
                                                "default": 4
                                            },
                                            "quality": {
                                                "type": "string",
                                                "description": "quality of the generation. If you want to generate a 1k image, use **1k**. If you want to generate a 2k image, use **2k**. If you want to generate a 4k image, use **4k**.",
                                                "enum": ["1k", "2k", "4k"],
                                                "default": "1k"
                                            }
                                        }
                                    },
                                    "controlnet": {
                                        "type": "object",
                                        "description": "controlnet to use for the generation",
                                        "properties": {
                                            "base64_image": {
                                                "type": "string",
                                                "description": "base64 image of the controlnet",
                                                "example": "data:image/png;base64,...",
                                                "default": null
                                            },
                                            "controlnet_strength": {
                                                "type": "number",
                                                "description": "strength of the controlnet",
                                                "minimum": 0,
                                                "maximum": 1,
                                                "default": 0
                                            }
                                        }
                                    }
                                }
                            }
                        }   
                    }
                },
                "responses": {
                    "200": {
                        "description": "Image generated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "gpu_use": {
                                        "type": "string",
                                        "description": "GPU utilisé pour générer l'image",
                                        "example": "RTX 5090"
                                        },
                                        "history": {
                                        "type": "integer",
                                        "description": "Numéro d'historique",
                                        "example": 0
                                        },
                                        "image_ratio": {
                                        "type": "string", 
                                        "description": "Ratio de l'image générée",
                                        "example": "1:1"
                                        },
                                        "indexe": {
                                        "type": "integer",
                                        "description": "Index de l'opération",
                                        "example": 50
                                        },
                                        "loras": {
                                        "type": "object",
                                        "properties": {
                                            "loras": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            },
                                            "description": "Liste des LoRAs utilisés"
                                            }
                                        }
                                        },
                                        "model": {
                                        "type": "string",
                                        "description": "Modèle AI utilisé pour la génération",
                                        "example": "Flux 1.0 Dev"
                                        },
                                        "number_picture": {
                                        "type": "integer", 
                                        "description": "Nombre d'images générées",
                                        "example": 4
                                        },
                                        "picture": {
                                        "type": "object",
                                        "properties": {
                                            "signed_url_pictures": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "URLs signées des images générées"
                                            },
                                            "signed_url_pictures_webp": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "URLs signées des images générées en WebP"
                                            }
                                        }
                                        },
                                        "price": {
                                        "type": "number",
                                        "description": "Prix de la génération en dollars",
                                        "example": 0.120356
                                        },
                                        "prompt": {
                                        "type": "string",
                                        "description": "Prompt utilisé pour la génération",
                                        "example": "generate a blue skye"
                                        },
                                        "request_finish_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Timestamp de fin de la requête",
                                        "example": "2025-09-27T04:27:29.411391"
                                        },
                                        "request_made_at": {
                                        "type": "string", 
                                        "format": "date-time",
                                        "description": "Timestamp de début de la requête",
                                        "example": "2025-09-27T04:26:13.488932"
                                        },
                                        "resolution": {
                                        "type": "string",
                                        "description": "Résolution de l'image",
                                        "example": "1:1"
                                        },
                                        "session_id": {
                                        "type": "string",
                                        "description": "Identifiant unique de la session",
                                        "example": "c8d2223b-6f45-4a51-b452-7aee9cf4d608"
                                        },
                                        "status": {
                                        "type": "string",
                                        "description": "Statut de la génération",
                                        "enum": ["COMPLETED", "PENDING", "FAILED"],
                                        "example": "COMPLETED"
                                        },
                                        "steps": {
                                        "type": "integer",
                                        "description": "Nombre d'étapes de génération",
                                        "example": 20
                                        },
                                        "style": {
                                        "type": "object", 
                                        "properties": {
                                            "style": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "Styles appliqués à l'image"
                                            }
                                        }
                                        },
                                        "user_id": {
                                        "type": "string",
                                        "description": "Identifiant unique de l'utilisateur",
                                        "example": "03202cd6-349d-461a-87d5-68cce978f279"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }  
            }
        },
        "/toolskit/dataset": {
            "post": {
                "description": "Create a training dataset from a list of images + captions. Uploads originals + dataset.zip to S3. Returns only a message.",
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["user_id", "subject", "name", "gender", "resolution", "dataset_content"],
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "description": "User id (UUID)."
                                    },
                                    "subject": {
                                        "type": "string",
                                        "description": "Subject of the dataset.",
                                        "example": "Sfya"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Dataset name."
                                    },
                                    "gender": {
                                        "type": "string",
                                        "description": "Dataset gender.",
                                        "enum": ["man", "woman"]
                                    },
                                    "resolution": {
                                        "type": "array",
                                        "description": "Target training resolutions.",
                                        "example": ["1024x1024", "1600x1024"],
                                        "items": {
                                            "type": "string",
                                            "example": "1024x1024"
                                        }
                                    },
                                    "dataset_content": {
                                        "type": "array",
                                        "description": "List of images and captions. picture_base64 can be raw base64 or a data URL (data:image/...;base64,...).",
                                        "minItems": 1,
                                        "items": {
                                            "type": "object",
                                            "required": ["picture_base64", "caption"],
                                            "properties": {
                                                "picture_base64": {
                                                    "type": "string",
                                                    "description": "Image as base64 (raw base64 or data URL)."
                                                },
                                                "caption": {
                                                    "type": "string",
                                                    "description": "Caption text for training."
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Dataset created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Confirmation message.",
                                            "example": "Dataset created"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "detail": {
                                            "type": "string",
                                            "description": "Error detail.",
                                            "example": "dataset_content is empty"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/photomaintenant/delete_user": {
            "servers": [
                { "url": "https://api.nextprotocol.fr" }
            ],
            "delete": {
                "description": "Delete a user profile from Photomaintenant",
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["user_id"],
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "description": "UUID of the user to delete."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User successfully deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Confirmation message.",
                                            "example": "User {user_id} workflow launched"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/toolskit/cancel_jobs": {
            "post": {
                "description": "Cancel a training job",
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["id_job"],
                                "properties": {
                                    "id_job": {
                                        "type": "string",
                                        "description": "ID of the job. It is the id column in the supabase table `toolskit-training-jobs` in the `ChatIA` project.",
                                        "example": "35"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Job cancelled",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Confirmation message.",
                                            "example": "Jobs cancelled"
                                        },
                                        "runpod_job_id": {
                                            "type": "string",
                                            "description": "ID of the job on RunPod.",
                                            "example": "564fbaa2-d7a7-4ff2-aeff-7e6c98842687-e1"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/toolskit/training_jobs": {
            "post": {
                "description": "Create a training job",
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["name"],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Name of the job.",
                                        "example": "John Doe"
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "Description of the job.",
                                        "example": "Training job for John Doe"
                                    },
                                    "mode": {
                                        "type": "string",
                                        "description": "Model used for the job.",
                                        "example": "Ostris Al Toolkit"
                                    },
                                    "dataset_id": {
                                        "type": "string",
                                        "description": "ID of the dataset.",
                                        "example": "123"
                                    },
                                    "config_yaml_content": {
                                        "type": "string",
                                        "description": "Content of the config.yaml file.",
                                        "example": "model: Ostris-1-6b-fp8\n\nlearning_rate: 0.0001\n\nnum_train_steps: 1000"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Job created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Confirmation message.",
                                            "example": "Job created"
                                        },
                                        "runpod_job_id": {
                                            "type": "string",
                                            "description": "ID of the job on RunPod.",
                                            "example": "564fbaa2-d7a7-4ff2-aeff-7e6c98842687-e1"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/toolskit/upscale": {
            "post": {
                "description": "Upscale an image",
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["image_base64"],
                                "properties": {
                                    "image_base64": {
                                        "type": "string",
                                        "description": "Image as base64 (raw base64 or data URL).",
                                        "example": "data:image/png;base64,..."
                                    },
                                    "upscale_factor": {
                                        "type": "number",
                                        "description": "Upscale factor of the image. For example use 2 for a picture of 1024x1024 to get a picture of 2048x2048",
                                        "example": 2
                                    }
                                }
                            }
                        }
                    }   
                },
                "responses": {
                    "200": {
                        "description": "Image upscaled",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "price_job": {
                                            "type": "munber",
                                            "description": "Price of the job in cents"
                                        },
                                        "gpu_use": {
                                            "type": "string",
                                            "description": "GPU used for the job",
                                            "example": "RTX 4090"
                                        },
                                        "content": {
                                            "type": "object",
                                            "properties": {
                                                "signed_url_pictures": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "description": "Signed URLs of the generated images"
                                                },
                                                "signed_url_pictures_webp": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "description": "Signed URLs of the generated images in WebP format"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/c4rust/alt": {
            "post": {
                "description": "Generate SEO-optimized title and/or alt text for an image using vision AI models.",
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["image_base64"],
                                "properties": {
                                    "image_base64": {
                                        "type": "string",
                                        "description": "The image in base64 format. Supports raw base64 or data URL (data:image/...;base64,...). Formats: JPEG, PNG, GIF, WebP.",
                                        "example": "data:image/png;base64,..."
                                    },
                                    "want_title": {
                                        "type": "boolean",
                                        "description": "Whether to generate an SEO title for the image.",
                                        "default": true
                                    },
                                    "want_alt": {
                                        "type": "boolean",
                                        "description": "Whether to generate an alt text for the image.",
                                        "default": true
                                    },
                                    "alt_level": {
                                        "type": "string",
                                        "description": "Level of detail for the generated text. 'short' for thumbnails (title: 20-40 chars, alt: 40-80 chars), 'standard' for most images (title: 40-60 chars, alt: 80-125 chars), 'detailed' for complex images (title: 50-80 chars, alt: 125-250 chars).",
                                        "enum": ["short", "standard", "detailed"],
                                        "default": "standard"
                                    },
                                    "language": {
                                        "type": "string",
                                        "description": "Language code for the generated text (e.g., 'en', 'fr', 'es').",
                                        "default": "en",
                                        "example": "en"
                                    },
                                    "model_openrouter": {
                                        "type": "string",
                                        "description": "OpenRouter vision model to use for image analysis.",
                                        "default": "x-ai/grok-4.1-fast",
                                        "examples": ["x-ai/grok-4.1-fast", "openai/gpt-5.2", "google/gemini-3-flash-preview", "anthropic/claude-opus-4.5"]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Alt text and/or title generated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "title": {
                                            "type": "string",
                                            "nullable": true,
                                            "description": "SEO-optimized title for the image. Null if want_title was false.",
                                            "example": "Golden retriever playing fetch in sunny park"
                                        },
                                        "alt": {
                                            "type": "string",
                                            "nullable": true,
                                            "description": "SEO-optimized alt text describing the image content. Null if want_alt was false.",
                                            "example": "A happy golden retriever dog catching a red frisbee mid-air in a green park on a sunny summer day"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Invalid image format or processing error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "detail": {
                                            "type": "string",
                                            "description": "Error message describing the issue.",
                                            "example": "Error processing image. Make sure the image format is supported (JPEG, PNG, GIF, WebP)."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/c4rust/enhance_crawler_prompt": {
            "post": {
                "description": "Enhance a web crawler prompt using an LLM model via OpenRouter. Takes a base prompt (e.g., 'find pricing pages') and user instructions (e.g., 'be more specific about what pricing info I need'), then returns an enhanced, clearer prompt for the crawler.",
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["user_prompt", "instruction_user", "model_openrouter"],
                                "properties": {
                                    "user_prompt": {
                                        "type": "string",
                                        "description": "The base prompt describing what pages to crawl (e.g., 'pages that talk about pricing').",
                                        "example": "pages that talk about pricing"
                                    },
                                    "instruction_user": {
                                        "type": "string",
                                        "description": "Additional instructions to refine the prompt (e.g., 'add more details', 'be more specific about pricing tables').",
                                        "example": "be more specific about pricing tables and comparison features"
                                    },
                                    "model_openrouter": {
                                        "type": "string",
                                        "description": "The OpenRouter model to use for enhancement.",
                                        "example": "anthropic/claude-3-haiku"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Enhanced crawler prompt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "description": "The enhanced prompt for the crawler.",
                                    "example": "Find pages that contain detailed pricing information, including pricing tables, subscription tiers, and plan comparison features. Look for pages with URLs containing 'pricing', 'plans', or 'subscription'. The page should display cost breakdowns, feature lists per tier, and any promotional offers or discounts."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/c4rust/enhance_prompt": {
            "post": {
                "description": "Enhance a prompt",
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["prompt"],
                                "properties": {
                                    "id_name": {
                                        "type": "string",
                                        "description": "id name of the model use. For example is **FluxDev** for Flux 1.0 Dev model or **FluxKrea** for Flux 1.0 Krea model or **FluxSchnell** for Flux 1.0 Schnell model",
                                        "example": "FluxDev"
                                    },
                                    "user_prompt": {
                                        "type": "string",
                                        "description": "User prompt to enhance.",
                                        "example": "a beautiful image of a cat"
                                    },
                                    "instruction_user": {
                                        "type": "string",
                                        "description": "Instruction user to enhance the prompt.",
                                        "example": "make the image more realistic"
                                    },
                                    "model_openrouter": {
                                        "type": "string",
                                        "description": "Model openrouter to use. For example is **gpt-4o-mini** for GPT-4o Mini model or **gpt-4o** for GPT-4o model or **gpt-4o-turbo** for GPT-4o Turbo model",
                                        "example": "openai/gpt-5.2"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Prompt enhanced",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "description": "Prompt enhanced.",
                                    "example": "a beautiful image of a cat in a realistic style"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get_public_link": {
            "post": {
                "description": "Upload any file and get a public URL. Accepts multipart/form-data with a 'file' field. Automatically detects file type and extension.",
                "requestBody": {
                    "description": "File to upload",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "required": ["file"],
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "The file to upload. Any file type is supported (images, documents, videos, etc.)."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Public URL of the uploaded file",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "description": "Public URL of the uploaded file.",
                                    "example": "https://s3.amazonaws.com/bucket/get_public_link/abc123.png"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}