{
    "openapi": "3.1.0",
    "info": {
      "title": "OpenAPI Plant Store",
      "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
      "license": {
        "name": "Apache 2.0"
      },
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api.runpod.ai"
      }
    ],
    "components": {
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "bearerFormat": "JWT"
        }
      }
    },
    "security": [
      {
        "bearerAuth": []
      }
    ],
    "paths": {
        "/v2/{endpoint_id}/run": {
          "post": {
            "description": "Generate AI Image with ComfyUI",
            "parameters": [
              {
                "name": "endpoint_id",
                "in": "path",
                "required": true,
                "description": "Unique identifier for the endpoint",
                "schema": {
                  "type": "string"
                }
              }
            ],
            "requestBody": {
              "description": "Request body",
              "content": {
                "application/json": {
                  "schema": {
                    "required": ["input"],
                    "type": "object",
                    "properties": {
                      "input": {
                        "type": "object",
                        "required": ["workflow_json"],
                        "properties": {
                          "workflow_json": {
                            "type": "object",
                            "description": "JSON object of the workflow ComfyUI. Export it with the option **Export (API)** in the ComfyUI UI."
                          },
                          "models": {
                            "type": "array",
                            "description": "List of models to use for the generation",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Name of the model",
                                  "example": "flux1-schnell-fp8.safetensors"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Type of the model",
                                  "enum": ["vae", "clip", "loras", "checkpoints", "unet"]
                                },
                                "weight": {
                                  "type": "number",
                                  "description": "Weight of the model in Mo",
                                  "default": 1000
                                },
                                "url": {
                                  "type": "string",
                                  "description": "URL of the model",
                                  "example": "https://example.com/model.safetensors"
                                },
                                "huggingface": {
                                  "type": "object",
                                  "properties": {
                                    "path_repo": {
                                      "type": "string",
                                      "description": "Path in the huggingface repository",
                                      "example": "flux1-schnell-fp8.safetensors"
                                    },
                                    "repo_id": {
                                      "type": "string",
                                      "description": "Repository ID of the model",
                                      "example": "Comfy-Org/flux1-schnell"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "loras": {
                            "type": "array",
                            "description": "List of loras to use for the generation",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Name of the lora",
                                  "example": "Minimal_Portrait_Photography_V1.0"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Type of the lora",
                                  "enum": ["loras"]
                                },
                                "weight": {
                                  "type": "number",
                                  "description": "Weight of the lora in Mo",
                                  "default": 1000
                                },
                                "url": {
                                  "type": "string",
                                  "description": "URL of the lora",
                                  "example": "https://example.com/Minimal_Portrait_Photography_V1.0.safetensors"
                                },
                                "huggingface": {
                                  "type": "object",
                                  "properties": {
                                    "path_repo": {
                                      "type": "string",
                                      "description": "Path in the huggingface repository",
                                      "example": "Minimal_Portrait_Photography_V1.0.safetensors"
                                    },
                                    "repo_id": {
                                      "type": "string",
                                      "description": "Repository ID of the lora",
                                      "example": "black-forest-labs/Minimal_Portrait_Photography_V1.0"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "settings_scaled_by_gpu_count": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "Title of the settings"
                                },
                                "value": {
                                  "type": "integer",
                                  "description": "Value of the settings"
                                }
                              }
                            }
                          },
                          "settings_fixed_per_gpu": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "Title of the settings"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Value of the settings"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "delayTime": {
                          "type": "integer",
                          "description": "Number of seconds to get a worker to start the job"
                        },
                        "executionTime": {
                          "type": "integer",
                          "description": "Number of seconds the worker take for terminate the job"
                        },
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the job"
                        },
                        "output":{
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "object",
                              "properties": {
                                "signed_url_pictures": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Signed URLs of the generated images"
                                }
                              }
                            },
                            "message": {
                              "type": "string",
                              "enum": ["Success", "Input Error"]
                            },
                            "status_code": {
                              "type": "integer",
                              "enum": [200, 204]
                            },
                            "price_jobs_dollar": {
                              "type": "number",
                              "description": "Price of the job in dollars",
                              "example": 0.00431
                            },
                            "gpu_use": {
                              "type": "string",
                              "description": "GPU used for the job",
                              "enum": ["RTX 4090", "RTX 5090"]
                            }
                          }
                        },
                        "status": {
                          "type": "string",
                          "description": "Status of the job",
                          "enum": ["COMPLETED"]
                        },
                        "workerId": {
                          "type": "string",
                          "description": "Unique identifier for the worker"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
    }
  }
